In [3]:
import pandas as pd

In [4]:
cni_df = pd.read_excel(open("../Data/data-set-for-2014-Community-Need-Index-release_version_v1.xlsx",'rb'), sheet_name = '2014_CommunityNeedIndex')

In [5]:
cni_df

,Id,Id2,Tract_Shorthand,Neighborhood_Municipality,Additional_NeighMunis,Pop_Estimate,Tier,AverageRank,Pov_14,Pov200_14,...,NoVehicle_14,HSDegree25_14,Pov_14Rank,Pov200_14Rank,FHF_14Rank,MaleLF_14Rank,Vacant_14Rank,NoVehicle_14Rank,HSDegree25_14Rank,Unnamed: 22
0,1400000US42003564100,42003564100,5641.00,ROSSLYN FARMS,THORNBURG,983,1,13.142857,0.013225,0.040692,...,0.005420,0.005618,8,4,23,30,22,3,2,NaN
1,1400000US42003456003,42003456003,4560.03,SOUTH FAYETTE,NaN,6726,1,23.000000,0.011930,0.062630,...,0.028850,0.024310,5,7,44,6,20,40,39,NaN
2,1400000US42003474201,42003474201,4742.01,UPPER SAINT CLAIR,NaN,2522,1,23.428571,0.002379,0.030135,...,0.000000,0.007038,1,2,2,122,32,1,4,NaN
3,1400000US42003473500,42003473500,4735.00,MOUNT LEBANON,NaN,3934,1,25.571429,0.012529,0.026103,...,0.027252,0.014700,6,1,70,44,6,34,18,NaN
4,1400000US42003409000,42003409000,4090.00,PINE,NaN,11975,1,27.714286,0.011290,0.031443,...,0.013774,0.016730,4,3,5,87,61,11,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,1400000US42003514000,42003514000,5140.00,RANKIN,NaN,2142,10,254.714286,0.448646,0.659197,...,0.476404,0.177998,261,256,253,251,240,261,261,NaN
261,1400000US42003550900,42003550900,5509.00,MCKEESPORT,NaN,1774,10,255.142857,0.298094,0.688042,...,0.372807,0.198347,248,259,249,255,262,250,263,NaN
262,1400000US42003512800,42003512800,5128.00,NORTH BRADDOCK,NaN,1349,10,256.571429,0.448728,0.676176,...,0.388797,0.116092,262,258,264,257,263,253,239,NaN
263,1400000US42003513800,42003513800,5138.00,BRADDOCK,NaN,2030,10,259.285714,0.363398,0.656004,...,0.441065,0.187677,255,255,262,263,259,259,262,NaN
264,1400000US42003552100,42003552100,5521.00,MCKEESPORT,NaN,1366,10,260.142857,0.706402,0.869757,...,0.696099,0.288931,265,265,265,265,231,265,265,NaN

In [6]:
cni_df.dtypes

Id                            object
Id2                            int64
Tract_Shorthand              float64
Neighborhood_Municipality     object
Additional_NeighMunis         object
Pop_Estimate                   int64
Tier                           int64
AverageRank                  float64
Pov_14                       float64
Pov200_14                    float64
FHF_14                       float64
MaleLF_14                    float64
Vacant_14                    float64
NoVehicle_14                 float64
HSDegree25_14                float64
Pov_14Rank                     int64
Pov200_14Rank                  int64
FHF_14Rank                     int64
MaleLF_14Rank                  int64
Vacant_14Rank                  int64
NoVehicle_14Rank               int64
HSDegree25_14Rank              int64
Unnamed: 22                  float64
dtype: object

In [11]:
cni_df['Tract_Shorthand'] = cni_df.Tract_Shorthand.astype(int)
cni_df

,Id,Id2,Tract_Shorthand,Neighborhood_Municipality,Additional_NeighMunis,Pop_Estimate,Tier,AverageRank,Pov_14,Pov200_14,...,NoVehicle_14,HSDegree25_14,Pov_14Rank,Pov200_14Rank,FHF_14Rank,MaleLF_14Rank,Vacant_14Rank,NoVehicle_14Rank,HSDegree25_14Rank,Unnamed: 22
0,1400000US42003564100,42003564100,5641,ROSSLYN FARMS,THORNBURG,983,1,13.142857,0.013225,0.040692,...,0.005420,0.005618,8,4,23,30,22,3,2,NaN
1,1400000US42003456003,42003456003,4560,SOUTH FAYETTE,NaN,6726,1,23.000000,0.011930,0.062630,...,0.028850,0.024310,5,7,44,6,20,40,39,NaN
2,1400000US42003474201,42003474201,4742,UPPER SAINT CLAIR,NaN,2522,1,23.428571,0.002379,0.030135,...,0.000000,0.007038,1,2,2,122,32,1,4,NaN
3,1400000US42003473500,42003473500,4735,MOUNT LEBANON,NaN,3934,1,25.571429,0.012529,0.026103,...,0.027252,0.014700,6,1,70,44,6,34,18,NaN
4,1400000US42003409000,42003409000,4090,PINE,NaN,11975,1,27.714286,0.011290,0.031443,...,0.013774,0.016730,4,3,5,87,61,11,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,1400000US42003514000,42003514000,5140,RANKIN,NaN,2142,10,254.714286,0.448646,0.659197,...,0.476404,0.177998,261,256,253,251,240,261,261,NaN
261,1400000US42003550900,42003550900,5509,MCKEESPORT,NaN,1774,10,255.142857,0.298094,0.688042,...,0.372807,0.198347,248,259,249,255,262,250,263,NaN
262,1400000US42003512800,42003512800,5128,NORTH BRADDOCK,NaN,1349,10,256.571429,0.448728,0.676176,...,0.388797,0.116092,262,258,264,257,263,253,239,NaN
263,1400000US42003513800,42003513800,5138,BRADDOCK,NaN,2030,10,259.285714,0.363398,0.656004,...,0.441065,0.187677,255,255,262,263,259,259,262,NaN
264,1400000US42003552100,42003552100,5521,MCKEESPORT,NaN,1366,10,260.142857,0.706402,0.869757,...,0.696099,0.288931,265,265,265,265,231,265,265,NaN

,Id,Id2,Tract_Shorthand,Neighborhood_Municipality,Additional_NeighMunis,Pop_Estimate,Tier,AverageRank,Pov_14,Pov200_14,...,NoVehicle_14,HSDegree25_14,Pov_14Rank,Pov200_14Rank,FHF_14Rank,MaleLF_14Rank,Vacant_14Rank,NoVehicle_14Rank,HSDegree25_14Rank,Unnamed: 22
0,1400000US42003564100,42003564100,5641.00,ROSSLYN FARMS,THORNBURG,983,1,13.142857,0.013225,0.040692,...,0.005420,0.005618,8,4,23,30,22,3,2,NaN
1,1400000US42003456003,42003456003,4560.03,SOUTH FAYETTE,NaN,6726,1,23.000000,0.011930,0.062630,...,0.028850,0.024310,5,7,44,6,20,40,39,NaN
2,1400000US42003474201,42003474201,4742.01,UPPER SAINT CLAIR,NaN,2522,1,23.428571,0.002379,0.030135,...,0.000000,0.007038,1,2,2,122,32,1,4,NaN
3,1400000US42003473500,42003473500,4735.00,MOUNT LEBANON,NaN,3934,1,25.571429,0.012529,0.026103,...,0.027252,0.014700,6,1,70,44,6,34,18,NaN
4,1400000US42003409000,42003409000,4090.00,PINE,NaN,11975,1,27.714286,0.011290,0.031443,...,0.013774,0.016730,4,3,5,87,61,11,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,1400000US42003514000,42003514000,5140.00,RANKIN,NaN,2142,10,254.714286,0.448646,0.659197,...,0.476404,0.177998,261,256,253,251,240,261,261,NaN
261,1400000US42003550900,42003550900,5509.00,MCKEESPORT,NaN,1774,10,255.142857,0.298094,0.688042,...,0.372807,0.198347,248,259,249,255,262,250,263,NaN
262,1400000US42003512800,42003512800,5128.00,NORTH BRADDOCK,NaN,1349,10,256.571429,0.448728,0.676176,...,0.388797,0.116092,262,258,264,257,263,253,239,NaN
263,1400000US42003513800,42003513800,5138.00,BRADDOCK,NaN,2030,10,259.285714,0.363398,0.656004,...,0.441065,0.187677,255,255,262,263,259,259,262,NaN
264,1400000US42003552100,42003552100,5521.00,MCKEESPORT,NaN,1366,10,260.142857,0.706402,0.869757,...,0.696099,0.288931,265,265,265,265,231,265,265,NaN