In [3]:
import pandas as pd

In [4]:
cen_combo_df = pd.read_excel("../Data/CensusTractData/ACDDP5_combined_cleaned.xlsx")

In [5]:
cen_combo_df

,Unnamed: 0,"Census Tract 103, Allegheny County, Pennsylvania",Unnamed: 2,"Census Tract 201, Allegheny County, Pennsylvania",Unnamed: 4,"Census Tract 203, Allegheny County, Pennsylvania",Unnamed: 6,"Census Tract 305, Allegheny County, Pennsylvania",Unnamed: 8,"Census Tract 402, Allegheny County, Pennsylvania",...,"Census Tract 9804, Allegheny County, Pennsylvania",Unnamed: 270,"Census Tract 9807, Allegheny County, Pennsylvania",Unnamed: 272,"Census Tract 9808, Allegheny County, Pennsylvania",Unnamed: 274,"Census Tract 9809, Allegheny County, Pennsylvania",Unnamed: 276,"Census Tract 9810, Allegheny County, Pennsylvania",Unnamed: 278
0,Label,Estimate,Percent,Estimate,Percent,Estimate,Percent,Estimate,Percent,Estimate,...,Estimate,Percent,Estimate,Percent,Estimate,Percent,Estimate,Percent,Estimate,Percent
1,EMPLOYMENT STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Population 16 years and over,"6,530","6,530","5,318","5,318","1,171","1,171","1,814","1,814","1,491",...,0,0,0,0,0,0,"1,313","1,313",0,0
3,In labor force,"1,882",28.8%,"3,559",66.9%,"1,052",89.8%,838,46.2%,776,...,0,-,0,-,0,-,0,0.0%,0,-
4,Civilian labor force,"1,882",28.8%,"3,559",66.9%,"1,052",89.8%,838,46.2%,776,...,0,-,0,-,0,-,0,0.0%,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Not in labor force:,"1,443","1,443","1,039","1,039",90,90,505,505,515,...,0,0,0,0,0,0,0,0,0,0
94,With health insurance coverage,"1,405",97.4%,926,89.1%,90,100.0%,492,97.4%,452,...,0,-,0,-,0,-,0,-,0,-
95,With private health insurance,"1,304",90.4%,855,82.3%,86,95.6%,242,47.9%,352,...,0,-,0,-,0,-,0,-,0,-
96,With public coverage,136,9.4%,148,14.2%,13,14.4%,279,55.2%,149,...,0,-,0,-,0,-,0,-,0,-
97,No health insurance coverage,38,2.6%,113,10.9%,0,0.0%,13,2.6%,63,...,0,-,0,-,0,-,0,-,0,-

In [6]:
cen_combo_df.columns

Index(['Unnamed: 0', 'Census Tract 103, Allegheny County, Pennsylvania',
       'Unnamed: 2', 'Census Tract 201, Allegheny County, Pennsylvania',
       'Unnamed: 4', 'Census Tract 203, Allegheny County, Pennsylvania',
       'Unnamed: 6', 'Census Tract 305, Allegheny County, Pennsylvania',
       'Unnamed: 8', 'Census Tract 402, Allegheny County, Pennsylvania',
       ...
       'Census Tract 9804, Allegheny County, Pennsylvania', 'Unnamed: 270',
       'Census Tract 9807, Allegheny County, Pennsylvania', 'Unnamed: 272',
       'Census Tract 9808, Allegheny County, Pennsylvania', 'Unnamed: 274',
       'Census Tract 9809, Allegheny County, Pennsylvania', 'Unnamed: 276',
       'Census Tract 9810, Allegheny County, Pennsylvania', 'Unnamed: 278'],
      dtype='object', length=279)

In [7]:
for col in cen_combo_df:
    if 'Unnamed:' in col and col is not 'Unnamed: 0': 
        cen_combo_df = cen_combo_df.drop(columns=[col])
    elif 'Census' in col:
        cen_num = col.split(' ')[2]
        cen_num = cen_num[:-1]
        if len(cen_num) == 3:
            cen_num = '0' + cen_num + '00'
        elif len(cen_num) == 4:
            cen_num = cen_num + '00'
        cen_combo_df = cen_combo_df.rename(columns={col: cen_num})
    
cen_combo_df

,010300,020100,020300,030500,040200,040400,040500,040600,040900,050100,...,562800,563000,563100,980000,980100,980400,980700,980800,980900,981000
0,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"6,530","5,318","1,171","1,814","1,491","1,850","3,255","2,197","3,298","1,445",...,"1,298","2,660","2,894",0,0,0,0,0,"1,313",0
3,"1,882","3,559","1,052",838,776,762,"1,805","1,408","1,882",772,...,897,"1,845","2,136",0,0,0,0,0,0,0
4,"1,882","3,559","1,052",838,776,762,"1,805","1,379","1,882",772,...,897,"1,816","2,136",0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"1,443","1,039",90,505,515,528,"1,152",681,"1,075",336,...,139,368,295,0,0,0,0,0,0,0
94,"1,405",926,90,492,452,500,"1,139",669,"1,036",336,...,122,353,230,0,0,0,0,0,0,0
95,"1,304",855,86,242,352,483,"1,139",592,885,102,...,73,174,135,0,0,0,0,0,0,0
96,136,148,13,279,149,20,6,77,184,261,...,81,205,128,0,0,0,0,0,0,0
97,38,113,0,13,63,28,13,12,39,0,...,17,15,65,0,0,0,0,0,0,0

### ACS 5-Year Estimates Data Profile 2019
Final dataframe is cen_combo_df

In [8]:
cen_combo_df = cen_combo_df.drop([0])
cen_combo_df

,010300,020100,020300,030500,040200,040400,040500,040600,040900,050100,...,562800,563000,563100,980000,980100,980400,980700,980800,980900,981000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"6,530","5,318","1,171","1,814","1,491","1,850","3,255","2,197","3,298","1,445",...,"1,298","2,660","2,894",0,0,0,0,0,"1,313",0
3,"1,882","3,559","1,052",838,776,762,"1,805","1,408","1,882",772,...,897,"1,845","2,136",0,0,0,0,0,0,0
4,"1,882","3,559","1,052",838,776,762,"1,805","1,379","1,882",772,...,897,"1,816","2,136",0,0,0,0,0,0,0
5,"1,684","3,456","1,026",707,695,749,"1,687","1,261","1,689",716,...,858,"1,688","2,090",0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"1,443","1,039",90,505,515,528,"1,152",681,"1,075",336,...,139,368,295,0,0,0,0,0,0,0
94,"1,405",926,90,492,452,500,"1,139",669,"1,036",336,...,122,353,230,0,0,0,0,0,0,0
95,"1,304",855,86,242,352,483,"1,139",592,885,102,...,73,174,135,0,0,0,0,0,0,0
96,136,148,13,279,149,20,6,77,184,261,...,81,205,128,0,0,0,0,0,0,0
97,38,113,0,13,63,28,13,12,39,0,...,17,15,65,0,0,0,0,0,0,0

### Commuting to Work
Limit ACS 2019 5-year estimate to the commuting to work category for all chosen census tracts in allegheny county

In [9]:
transit_cen_df = cen_combo_df[19:27]
transit_cen_df = transit_cen_df.reset_index()
transit_cen_df = transit_cen_df.drop(columns=['index'])
transit_cen_df = transit_cen_df.T
transit_cen_df = transit_cen_df.reset_index()
transit_cen_df = transit_cen_df.rename(columns={'index':'tractce10', 0: 'Workers_16yrs+', 1: 'own_alone', 
                                                2: 'carpool', 3: 'public_transit', 4: 'walked', 5: 'other',
                                               6: 'wfh', 7: 'mean_travel_time_to_work'})
transit_cen_df

,tractce10,Workers_16yrs+,own_alone,carpool,public_transit,walked,other,wfh,mean_travel_time_to_work
0,010300,"1,507",413,102,159,684,9,140,14.7
1,020100,"3,282",742,71,456,"1,729",93,191,17.4
2,020300,"1,014",624,20,72,134,34,130,22.9
3,030500,707,295,47,131,182,1,51,18.3
4,040200,680,154,49,169,226,25,57,20.3
...,...,...,...,...,...,...,...,...,...
132,980400,0,0,0,0,0,0,0,-
133,980700,0,0,0,0,0,0,0,-
134,980800,0,0,0,0,0,0,0,-
135,980900,0,0,0,0,0,0,0,-
136,981000,0,0,0,0,0,0,0,-

In [10]:
transit_cen_df.columns

Index(['tractce10', 'Workers_16yrs+', 'own_alone', 'carpool', 'public_transit',
       'walked', 'other', 'wfh', 'mean_travel_time_to_work'],
      dtype='object')

In [11]:
## save dataframe to csv to use in larger analysis
transit_cen_df.to_csv('../Data/CensusTractData/commuting_data_pa.csv')

### Employment Status and Population
Limit ACS 2019 5-year estimate to the employment status categoru for all chosen census tracts in allegheny county

In [12]:
emppop_cen_df = cen_combo_df[1:18]
emppop_cen_df = emppop_cen_df.reset_index()
emppop_cen_df = emppop_cen_df.drop(columns=['index'])
emppop_cen_df = emppop_cen_df.T
emppop_cen_df = emppop_cen_df.reset_index()
emppop_cen_df = emppop_cen_df.rename(columns={'index':'tractce10', 0:'population_16yrs+', 1: 'in_labor_force',
                                             2: 'civ_labor_force', 3: 'employed', 4: 'unemployed', 
                                             5: 'armed forces', 6: 'not_in_labor_force', 7: 'civ_labor_force',
                                             8: 'unemployement_rate', 9: 'females_16yr+', 10: 'in_labor_force',
                                             11: 'civ_labor_force', 12: 'employed'})
emppop_cen_df

,tractce10,population_16yrs+,in_labor_force,civ_labor_force,employed,unemployed,armed forces,not_in_labor_force,civ_labor_force,unemployement_rate,females_16yr+,in_labor_force,civ_labor_force,employed,13,14,15,16
0,010300,"6,530","1,882","1,882","1,684",198,0,"4,648","1,882",(X),"2,779","1,273","1,273","1,161",94,84,15,0
1,020100,"5,318","3,559","3,559","3,456",103,0,"1,759","3,559",(X),"2,832","1,837","1,837","1,754",110,64,86,79
2,020300,"1,171","1,052","1,052","1,026",26,0,119,"1,052",(X),545,470,470,444,41,15,0,0
3,030500,"1,814",838,838,707,131,0,976,838,(X),943,490,490,420,168,157,176,91
4,040200,"1,491",776,776,695,81,0,715,776,(X),"1,023",540,540,459,58,49,34,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,980400,0,0,0,0,0,0,0,0,(X),0,0,0,0,0,0,0,0
133,980700,0,0,0,0,0,0,0,0,(X),0,0,0,0,0,0,0,0
134,980800,0,0,0,0,0,0,0,0,(X),0,0,0,0,0,0,0,0
135,980900,"1,313",0,0,0,0,0,"1,313",0,(X),0,0,0,0,0,0,0,0
136,981000,0,0,0,0,0,0,0,0,(X),0,0,0,0,0,0,0,0

In [13]:
## save dataframe to csv to use in larger analysis
emppop_cen_df.to_csv('../Data/CensusTractData/employment_data_pa.csv')

### Income and Benefits
Limit ACS 2019 5-year estimate to the employment status categoru for all chosen census tracts in allegheny county

In [14]:
incben_cen_df = cen_combo_df[28:72]
incben_cen_df = incben_cen_df.reset_index()
incben_cen_df = incben_cen_df.drop(columns=['index'])
incben_cen_df = incben_cen_df.T
incben_cen_df = incben_cen_df.reset_index()
incben_cen_df = incben_cen_df.rename(columns={'index':'tractce10', 1: 'total_households', 2: '<$10K', 
                                              3: '$10K-15K', 4: '$15K-25K', 5:'$25K-35K', 6: '$35K-50K',
                                             7: '$50K-75K', 8: '$75K-100K', 9:'$100K-150K', 
                                             10: '$150K-200K', 11: '>$200K', 12: 'median_hh_income',
                                             13: 'mean_hh_income', 43: 'med_earnings_female_full-time',
                                             42: 'med_earnings_male_full-time'})
incben_cen_df

,tractce10,0,total_households,<$10K,$10K-15K,$15K-25K,$25K-35K,$35K-50K,$50K-75K,$75K-100K,...,34,35,36,37,38,39,40,41,med_earnings_male_full-time,med_earnings_female_full-time
0,010300,322,39,49,92,20,9,59,10,3,...,0,"23,272","40,104","8,438",179,"25,865","50,079","4,735","44,464","31,083"
1,020100,"2,714",235,88,186,265,218,290,254,479,...,283,"139,358","187,166","59,538","1,969","62,883","90,243","41,078","93,164","57,330"
2,020300,821,21,5,11,23,31,132,164,159,...,72,-,"192,362","99,863",655,"101,750","133,781","76,384","87,768","69,653"
3,030500,"1,145",319,163,233,84,76,171,19,36,...,24,"28,490","52,563","20,213",630,"12,146","19,888","20,684","46,750","28,333"
4,040200,600,253,16,91,53,73,37,20,27,...,3,"42,750","67,164","14,107",430,"9,821","20,708","5,962","33,009","39,286"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,980400,0,0,0,0,0,0,0,0,0,...,0,-,-,-,0,-,-,-,-,-
133,980700,0,0,0,0,0,0,0,0,0,...,0,-,-,-,0,-,-,-,-,-
134,980800,0,0,0,0,0,0,0,0,0,...,0,-,-,-,0,-,-,-,-,-
135,980900,0,0,0,0,0,0,0,0,0,...,0,-,-,"3,661",0,-,-,"4,580","15,694",-
136,981000,0,0,0,0,0,0,0,0,0,...,0,-,-,-,0,-,-,-,-,-

In [15]:
## save dataframe to csv to use in larger analysis
incben_cen_df.to_csv('../Data/CensusTractData/income_data_pa.csv')